*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header{
    background-color: blue;
    color: aliceblue;
}
.cabecalho, .cabecalho nav {
    display: flex;
    justify-content: space-between;
    align-items:center ;
}
header nav h3{
    padding: 0 10px;
    cursor: pointer;
}

.about{
    margin-top: 20px;
    display: flex;
}
.about img{
    height: 250px;
    width: 400px;
}
.text-about{
    margin-left: 15px;
    max-width: 500px;
    width: 100%;
    align-items: center;
}
.text-about h2{
    color: blue;
    border-bottom: 3px solid blue;
    margin-bottom: 12px;
}
.text-about p{
    text-align: justify;
}

.produtos{
    margin-top: 20px;
}
.produtos h2{
    color: blue;
    border-bottom:3px solid blue;
}
.produtos p{
    font-size: 12px;
}
.produtos ul{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 24.65%);
    grid-template-rows:200px 100px ;
    column-gap: 1%;
}
.produtos ul li{
    list-style: none;
    max-width: 225px;
    width: 100%;
    max-height: 313px;
    height: 100%;
    
}
.produtos a{
    color: black;
}
.produtos img{
    max-width:225px;
    width: 100%;
    max-height: 225px;
    height: 100%;
}
.produtos button{
    margin-top: 10px;
    width: 100%;
    cursor: pointer;
    border: none;
    background-color: blue;
    color: white;
    height: 28px;
}
.produtos button:hover{
    background-color: cornflowerblue;
}

@media screen and (max-width:1023px) {
    .container{
        max-width: 641px;
        width: 100%;
        margin: 0 auto;
    }
    .about{
        display: block;
        text-align: center;
        margin-top: 20px;
    }
    .about img{
        max-width: 600px;
        width: 100%;
        max-height: 390px;
        height: 100%;
    }
    .text-about{
        max-width: 600px;
        width: 100%;
        margin-left: 20px;
    }
    .text-about h2{
        text-align: start;
    }
    #products{
        height: 680px;
    }
    .produtos{
        max-width: 600px;
        width: 100%;
    }
    .produtos ul{
        max-height: 540px;
        height: 100%;
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(2, 49.5%);
        grid-template-rows:320px 200px ;
    }
}

footer{
    color: white;
    background-color: blue;
    text-align: center;
}

@media screen and (max-width:640px) {
    .cabecalho h1{
        font-size: 25px;
    }
    .cabecalho h3{
        font-size: 14px;
    }
    .about{
        display: block;
        text-align: center;
        margin-top: 20px;
        max-width: 300px;
        width: 100%;
    }
    .about img{
        max-width: 300px;
        width: 100%;
        max-height: 250px;
        height: 100%;
    }
    .text-about{
        margin-left: 0;
    }
    #products{
        height: 1326px;
    }
    .produtos{
        max-width: 300px;
        width: 100%;
    }
    .produtos ul{
        display: block;
    }
    .produtos ul li{
        max-width: 300px;
        width: 100%;
        text-align: center;
    }
}

